* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.header {
    height: 8vh;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(11, 40, 85);
}

.header h1 {
    padding-top: 15px;
    font-size: 24px;
    color: rgb(11, 40, 85);
}

#add-cat-button {
    font-size: 34px;
    color: rgb(11, 40, 85);
    cursor: pointer;
    padding: 15px 0px 0px 20px;
}

main {
    max-width: 1180px;
    height: 100vh;
    margin: 0 auto;
}

.content {
    padding: 40px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 40px;
}

.cat-card {
    padding: 20px;
    background-color: rgb(246, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border: 1px solid rgb(250, 250, 250);
    box-shadow: 5px 3px 4px 2px grey;
    border-radius: 10px;
}

img {
    padding: 5px;
    width: 270px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.cat-card-btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-card-view {
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(11, 40, 85);
    border: 1px solid rgb(11, 40, 85);
    border-radius: 5px;
    background-color: transparent;
}

.cat-card-update {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(11, 40, 85);
    border: none;
    background-color: transparent;
}

.cat-card-delete {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(11, 40, 85);
    border: none;
    background-color: transparent;
}

.create-edit-modal-form {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 500px;
    height: 350px;
    padding: 20px;
    border: 1px solid rgb(11, 40, 85);
    border-radius: 5px;
    background-color: white;
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    background-color: rgb(246, 246, 246);
}

.form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    flex-wrap: nowrap;
}

.form-buttons {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.form-buttons button {
    width: 100px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

/* модальное окно просмотра деталей */
.cat-details {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 700px;
    height: 350px;
    padding: 20px;
    border: 1px solid rgb(11, 40, 85);
    border-radius: 5px;
    background-color: white;
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    visibility: visible;
    opacity: 1;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 34px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.details-image {
    padding-top: 20px;
    width: 330px;
    height: 220px;
}

.details-header {
    font-size: 26px;
    font-weight: 700;
    color: rgb(11, 40, 85);
    margin-bottom: 30px;
}

.details-age {
    margin-bottom: 20px;
}

.details-rate {
    margin-bottom: 20px;
    color: rgb(177, 148, 17);
}

.rate-star {
    padding: 3px;
}

.details-like {
    color: rgb(178, 74, 74);
    font-size: 28px;
    padding: 5px;
    cursor: pointer;
}

.details-description {
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
}

/* ********* Медиа-запросы *********** */
@media (max-width: 768px) {
    .header {
        height: 10vh;
    }

    .header h1 {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 16px;
    }

    .header h1 i {
        display: none;
    }

    .main {
        width: 90%;
    }

    .create-edit-modal-form {
        width: 95%;
        height: 50%;
    }

    .cat-details {
        width: 95%;
        height: 50%;
        flex-direction: column;
    }

    .details-close {
        top: 2px;
    }
}
