* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: "Comfortaa", cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.header {
    height: 8vh;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    left: 60px;
}

.header h1 {
    padding-top: 15px;
    font-size: 24px;
    color: rgb(11, 40, 85);
}

#add-cat-button {
    font-size: 34px;
    color: rgb(11, 40, 85);
    cursor: pointer;
    padding: 15px 0px 0px 20px;
    border: none;
    transition: color 0.2s linear;
}

#add-cat-button:hover {
    color: rgb(155, 139, 50);
}

main {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.content {
    padding: 40px 10px 60px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 40px;
}

.cat-card {
    padding: 20px;
    background-color: rgb(246, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 350px;
    border: 1px solid rgb(250, 250, 250);
    box-shadow: 5px 3px 4px 2px grey;
    border-radius: 10px;
    color: rgb(177, 148, 17);
    font-weight: 700;
    position: relative;
}

.image-container {
    padding: 5px;
    margin-bottom: 30px;
    width: 270px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    border-radius: 7px;
}

.cat-card-btns {
    margin: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-card-view {
    font-family: "Comfortaa";
}

.form-wrapper {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    color: rgb(11, 40, 85);
}

form span {
    font-size: 12px;
}

.cat-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-close {
    position: absolute;
    top: 3px;
    left: 10px;
    color: rgb(11, 40, 85);
    font-size: 34px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.details-image {
    width: 430px;
    height: 320px;
    padding-top: 20px;
}

.details-header {
    font-size: 26px;
    font-weight: 700;
    color: rgb(11, 40, 85);
    margin-bottom: 30px;
}

.details-age {
    margin-bottom: 20px;
}

.details-rate {
    margin-bottom: 20px;
    color: rgb(177, 148, 17);
}

.rate-star {
    padding: 3px;
}

.favorite {
    position: relative;
}

.details-like {
    color: rgb(178, 74, 74);
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.details-description {
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
}

/* ********* footer ********* */
.footer {
    border-top: 1px solid rgb(11, 40, 85);
    height: 25vh;
    padding: 20px;
}

.footer-container {
    padding: 20px;
    height: 100%;
    font-size: 16px;
    color: rgb(11, 40, 85);
    line-height: 1.3;
    text-align: justify;
}

.footer-container p {
    margin-bottom: 20px;
}

.footer-container p:last-child {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

/* ********* Медиа-запросы *********** */
@media (max-width: 768px) {
    .header {
        height: 10vh;
    }

    .header h1 {
        padding: 0px 20px 0px 10px;
        font-size: 16px;
    }

    .header h1 i {
        display: none;
    }

    .main {
        width: 90%;
    }

    form {
        width: 95%;
    }

    .details-image {
        padding-top: 20px;
        width: 330px;
        height: 250px;
    }

    .details-close {
        top: 2px;
    }
}
